.footer
	.row
		.columns.large-4.small-3
			.col
				.text.gray.copywrap
					span.copy © 
					span.copytext UAB «GLASSBEL BALTIC» 
						br
						|2001–2017
				.text.gray.to-top.js-scroll-to Go to top
		.columns.large-2
			.col
				.footer-nav
					ul
						li
							a(href="/").footer-nav-link.text.js-nav Home
						li
							a(href="/company.html").footer-nav-link.text.js-nav Company
						li
							a(href="/products.html").footer-nav-link.text.js-nav Products
						li
							a(href="/projects.html").footer-nav-link.text.js-nav Projects
						li
							a(href="/services.html").footer-nav-link.text.js-nav Service
						li
							a(href="/news.html").footer-nav-link.text.js-nav News
						li
							a(href="/contacts.html").footer-nav-link.text.js-nav Contacts
		.columns.large-2
			.col
				.block-contact
					.text.gray Office
					.text 11, Pramones str., lt-94102 Klaipeda, Lithuania
					.text 
						a(href="tel:+37046416380") +370 (46) 416 380 
					.text
						a(href="mailto:solutions@glassbel.com") solutions@glassbel.com
				.soc-wrapper
					.soc-wrapper-inner
						a(href="#").soc-item.fb
						a(href="#").soc-item.you
						a(href="#").soc-item.in
						a(href="#").soc-item.tw


		.columns.large-4
			.col
				.block-contact
					.text.gray Francis Ellington UK Glassbel Representative
					.text Skype: 
						a(href="skype:francisellington?add") francisellington
					.text
						a(href="tel:+4407814781711") +44 (0)7814 781711 
					.text
						a(href="mailto:f.ellington@glassbel.com") f.ellington@glassbel.com	