extends _layout

block title
	title 404
	- var _name = "404"
	- var currentPage = "404"
block content
	.site__loader
	.root__wrapper
		.site__overlay
		.root__frame
			include includes/_header	
			#barba-wrapper
				.barba-container(data-namespace="Content")
					.wrapper-frame
						.block.page-head-block
							.row
								.columns
									.page-head
										.block-bg
											.block-bg-inner
												img.js-parallax(src="img/head/h9.jpg")
										.page-head-inner
											.page-head-gradient.js-parallax(data-speed="25")
											.page-head-content.js-parallax(data-direction="-1")
												.bread-cont
													a(href="/").bread-item Home
												.title.h2.white 404
						.block.margin.anim-cont
							.row
								.columns
									.half-title
										.row
											.columns
												.col 
													.title.h3 Page not found
											.columns
												.text.primary We're sorry, but this page cannot be found. It may have moved, or may not exist. You can return 
													a(href="/") home 
													|or try the links in the 
													a(href="#", onclick='$(".js-menu").trigger("click")') menu
												+next('Go to homepage')
					include includes/_footer

					