extends _layout

block title
	title Index
	- var _name = "index"
	- var currentPage = "index"
block content
	.site__loader
	.root__wrapper
		.site__overlay
		.root__frame
			include includes/_header
			#barba-wrapper
				.barba-container(data-namespace="index")
					.wrapper-frame
						.row
							.columns
								.promo-slider
									.promo-slider-wrap
										.promo-slider-inner.js-promoslider
											.promo-slider-item.item1(data-href='/podect/1.html')
												.promo-slider-item-inner
													.promo-slider-item-bg(style='background-image: url(img/promoslider/slide1/item1-bg.jpg)')
													.promo-slider-item-content
														.promo-slider-item-content-inner
															.cont-inner
																.cont-left
																	.text Helsinger, Denmark
																	.title.h1.white Danish
																		br 
																		|Maritime
																		br
																		|museum
																.cont-right
																	.text.primary.white Innovations leader in
																		br 
																		|flat glass processing industry
													.promo-slider-item-img
														.img-wrap
															img(data-lazy="img/promoslider/slide1/item1-1.png", alt="")
											.promo-slider-item.item2(data-href='/podect/2.html')
												.promo-slider-item-inner
													.promo-slider-item-bg(style='background-image: url(img/promoslider/slide2/item2-bg.png)')
													.promo-slider-item-content
														.promo-slider-item-content-inner
															.cont-inner
																.cont-left
																	.text Minsk, Belarus
																	.title.h1.white RRB
																		br 
																		|bank
																.cont-right
																	.text.primary.white Innovations leader in 
																		br
																		| flat glass processing industry
													.promo-slider-item-img
														.img-wrap
															img(data-lazy="img/promoslider/slide2/item2-1.png", alt="")


									a(href="#").btn.js-promo-link
										span Show project



						//- .title.h1 museum
						//- .title.h2 news
						//- .title.h3 About company
						//- .text Heat Treatment Of Magnetron, Pyrolytic, And Double Sided Coatings
						//- .text.primary Since 2001, GLASSBEL is a leading glass processing company focusing on architectural and interior glass markets
						//- a(href="#").btn
						//- 	span Show project
						//- button.btn
						//- 	span Show project
						//- +next('Company')
						//- +down('Broschure','21mb')
						
			.footer
				.row
					.columns.large-4.small-3
						.col
							.text.gray.copywrap
								span.copy © 
								span.copytext UAB «GLASSBEL BALTIC» 
									br
									|2001–2017
							.text.gray.to-top.js-scroll-to Go to top
					.columns.large-2
						.col
							.footer-nav
								ul
									li
										a(href="#").footer-nav-link.text Home
									li
										a(href="#").footer-nav-link.text Company
									li
										a(href="#").footer-nav-link.text Products
									li
										a(href="#").footer-nav-link.text Projects
									li
										a(href="#").footer-nav-link.text Service
									li
										a(href="#").footer-nav-link.text News
									li
										a(href="#").footer-nav-link.text Contacts
					.columns.large-2
						.col
							.block-contact
								.text.gray Office
								.text 11, Pramones str., lt-94102 Klaipeda, Lithuania
								.text 
									a(href="tel:+37046416380") +370 (46) 416 380 
								.text
									a(href="mailto:solutions@glassbel.com") solutions@glassbel.com
							.soc-wrapper
								.soc-wrapper-inner
									a(href="#").soc-item.fb
									a(href="#").soc-item.you
									a(href="#").soc-item.in
									a(href="#").soc-item.tw


					.columns.large-4
						.col
							.block-contact
								.text.gray Francis Ellington UK Glassbel Representative
								.text Skype: 
									a(href="skype:francisellington?add") francisellington
								.text
									a(href="tel:+4407814781711") +44 (0)7814 781711 
								.text
									a(href="mailto:f.ellington@glassbel.com") f.ellington@glassbel.com