extends _layout

block title
	title news
	- var _name = "news"
	- var currentPage = "news"
block content
	.site__loader
	.root__wrapper
		.site__overlay
		.root__frame
			include includes/_header	
			#barba-wrapper
				.barba-container(data-namespace="Production")
					.wrapper-frame
						.block.page-head-block
							.row
								.columns
									.page-head
										.block-bg
											.block-bg-inner
												img.js-parallax(src="img/head/h6.jpg")
										.page-head-inner
											.page-head-gradient.js-parallax(data-speed="25")
											.page-head-content.js-parallax(data-direction="-1")
												.bread-cont
													a(href="/").bread-item Home
												.title.h2.white news
						.block
							.row
								.columns
									.prod-elem(onclick='')
										.row
											.columns.large-6
												.col
													+newscontent('September 2017','Facades Plus Conference in New York','Facades+ is a premier conference on high-performance building enclosures. It offers an outstanding opportunity to interact with the movers and shakers of the AEC (Architecture, Engineering, and Construction) industry.')
											.columns.large-6
												.col
													.prod-image-outer
														a(href="/news-inner.html").prod-image
															img.prod-image-inner.js-parallax(src='img/news/1.jpg')
									.prod-elem(onclick='')
										.row
											.columns.large-6
												.col
													+newscontent('August 2017','Luxatia International Conference and Summit','Glassbel is an engineering company that is growing every day and searching for a new solutions to be developed in the market. Hence, Glassbel R&D Department took a participation in one of the most outstanding strategic summits and presented a topic on “Innovative BIPV Facades”.')
											.columns.large-6
												.col
													.prod-image-outer
														a(href="/news-inner.html").prod-image
															img.prod-image-inner.js-parallax(src='img/news/2.jpg')
									.prod-elem(onclick='')
										.row
											.columns.large-6
												.col
													+newscontent('August 2017','BUPA Regent Building (Manchester)','Glassbel is delighted to announce about a new project start up in Manchester area – Bupa Regent Building. The Regent building will become one of the UK’s leading private health care centre. The building is situated in a noticeable area in front of Manchester Ship Canal.')
											.columns.large-6
												.col
													.prod-image-outer
														a(href="/news-inner.html").prod-image
															img.prod-image-inner.js-parallax(src='img/news/3.jpg')

			.footer
				.row
					.columns.large-4.small-3
						.col
							.text.gray.copywrap
								span.copy © 
								span.copytext UAB «GLASSBEL BALTIC» 
									br
									|2001–2017
							.text.gray.to-top.js-scroll-to Go to top
					.columns.large-2
						.col
							.footer-nav
								ul
									li
										a(href="#").footer-nav-link.text Home
									li
										a(href="#").footer-nav-link.text Company
									li
										a(href="#").footer-nav-link.text Products
									li
										a(href="#").footer-nav-link.text Projects
									li
										a(href="#").footer-nav-link.text Service
									li
										a(href="#").footer-nav-link.text News
									li
										a(href="#").footer-nav-link.text Contacts
					.columns.large-2
						.col
							.block-contact
								.text.gray Office
								.text 11, Pramones str., lt-94102 Klaipeda, Lithuania
								.text 
									a(href="tel:+37046416380") +370 (46) 416 380 
								.text
									a(href="mailto:solutions@glassbel.com") solutions@glassbel.com
							.soc-wrapper
								.soc-wrapper-inner
									a(href="#").soc-item.fb
									a(href="#").soc-item.you
									a(href="#").soc-item.in
									a(href="#").soc-item.tw


					.columns.large-4
						.col
							.block-contact
								.text.gray Francis Ellington UK Glassbel Representative
								.text Skype: 
									a(href="skype:francisellington?add") francisellington
								.text
									a(href="tel:+4407814781711") +44 (0)7814 781711 
								.text
									a(href="mailto:f.ellington@glassbel.com") f.ellington@glassbel.com	

					