extends _layout

block title
	title products-inner
	- var _name = "products-inner"
	- var currentPage = "products-inner"
block content
	.site__loader
	.root__wrapper
		.site__overlay
		.root__frame
			include includes/_header	
			#barba-wrapper
				.barba-container(data-namespace="Production-inner")
					.prod-nav.block.js-prod-head
						.prod-nav-inner.brand
							.row
								.columns
									a(href="#").prod-nav-link
										.prod-nav-link-icon
											.icon
												+icon('slidearr')
										.prod-nav-link-text opera house
								.columns.large-5
									.text.primary.white Danish Maritime Museum
								.columns
									a(href="#").prod-nav-link
										.prod-nav-link-icon
											.icon
												+icon('slidearr')
										.prod-nav-link-text norman foster office
					.wrapper-frame
						.block.page-head-block
							.row
								.columns
									// модификатор head-big
									.page-head.head-big
										.block-bg
											.block-bg-inner
												img.js-parallax(src="img/head/h4.jpg")
										.page-head-inner
											.page-head-gradient.js-parallax(data-speed="25")
											.page-head-content.js-parallax(data-direction="-1")
												.bread-cont
													a(href="/").bread-item Home
													a(href="/products.html").bread-item Products 
												.title.h2.white Glass-BULLETPROOF
						.block.margin
							.row
								.columns
									.prod-eleminner
										.row
											.columns.large-5
												.col(data-sticky-parent).js-stick-parent
													.prod-eleminner-content.content.js-stick
														.prod-eleminner-content-inner
															.type-wrap
																.type-item(style='background-image:url(img/icons/icon-bullet-w.png);')
															.text.primary BULLETPROOF glass has a numerous range of applications, including shopfronts, military vehicles, hospitals, government and bank institutions
															hr
															.text.gray Specifications
															p Sizes of 3210x7500
															p Thickness depends on glass bullet resistance
															hr
															.text.gray Download
															+down('Broschure','21mb')
															+down('Examples of projects','3.72mb')
														+nextb('Back to Projects','/projects.html')

											.columns.large-7
												.prod-eleminner-images
													img(src="img/prodinner/1.jpg", alt="")
													img(src="img/prodinner/2.jpg", alt="")
													img(src="img/prodinner/3.jpg", alt="")
						.block.margin
							.row
								.columns
									.more-slider
										.more-slider-head
											.title.h3 References
											.slider-nav
										// модификатор w3 для 3х слайдов
										.more-slider-slider.row.projects-row.js-moreslider.w3
											.columns.large-4
												+project('','Norman Foster Office, London, UK','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminated inner pane.','8')
											.columns.large-4
												+project('','Skywalks, Riyadh, Saudi Arabia','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminated inner pane.','9')
											.columns.large-4
												+project('','Tate Modern, London, UK','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminated inner pane.','10')
											.columns.large-4
												+project('','RRB Bank, Minsk, Belarus','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminated inner pane.','11')
											.columns.large-4
												+project('','RRB Bank, Minsk, Belarus','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminated inner pane.','12')
											.columns.large-4
												+project('','RRB Bank, Minsk, Belarus','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminated inner pane.','13')
											.columns.large-4
												+project('','RRB Bank, Minsk, Belarus','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminated inner pane.','14')
											.columns.large-4
												+project('','RRB Bank, Minsk, Belarus','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminated inner pane.','15')
											.columns.large-4
												+project('','RRB Bank, Minsk, Belarus','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminated inner pane.','16')
											.columns.large-4
												+project('','RRB Bank, Minsk, Belarus','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminated inner pane.','17')
											.columns.large-4
												+project('','RRB Bank, Minsk, Belarus','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminated inner pane.','17')


			include includes/_footer

					