extends _layout

block title
	title Projects
	- var _name = "Products"
	- var currentPage = "Products"
block content
	.site__loader
	.root__wrapper
		.site__overlay
		.root__frame
			include includes/_header	
			#barba-wrapper
				.barba-container(data-namespace="Projects")
					.wrapper-frame
						.block.page-head-block
							.row
								.columns
									// второй тип шапки, структура немного другая
									.page-head.page-head-gray
										.block-bg
										.page-head-inner
											.page-head-content.js-parallax(data-direction="-1")
												.bread-cont
													a(href="/").bread-item Home
												.row
													.columns
														.title.h2 Products
													.columns
														.filter-wrapper
															//tabs component
															.filter-tabs
																a(href="#").filter-tabs-item.active
																	.filter-tabs-item-inner.text All products
																a(href="#").filter-tabs-item
																	.filter-tabs-item-inner.text Branded products
																a(href="#").filter-tabs-item
																	.filter-tabs-item-inner.text Laminated products      
																a(href="#").filter-tabs-item
																	.filter-tabs-item-inner.text Insulated products
																a(href="#").filter-tabs-item
																	.filter-tabs-item-inner.text Bonding Solutions
																//- a(href="#").filter-tabs-item
																//- 	.filter-tabs-item-inner.text Insulated products
																//- a(href="#").filter-tabs-item
																//- 	.filter-tabs-item-inner.text Bonding Solutions
						.block
							.row
								.columns
									.projects
										.projects-inner
											.row.projects-row
												.columns.large-6.medium-6
													+product('1','Extra large size','Laminated glass with cut outs and inserts for point fixing','sun')
												.columns.large-6.medium-6
													+product('2','Glass-BULLETPROOF','Laminated glass with cut outs and inserts for point fixing','spider')
												.columns.large-6.medium-6
													+product('3','Glass-COLOR','Laminated glass with cut outs and inserts for point fixin asd fdasf saas fasdfasdfas fsdfasdf sfdasf sadf sfsdfas fs ','sound')
												.columns.large-6.medium-6
													+product('4','Glass-CURVE','Laminated glass with cut outs and inserts for point fixing','silk')
												.columns.large-6.medium-6
													+product('5','Glass-DECOR','Laminated glass with cut outs and inserts for point fixing','shape')
												.columns.large-6.medium-6
													+product('6','Glass-HEAT','Laminated glass with cut outs and inserts for point fixing','security')
												.columns.large-6.medium-6
													+product('1','Extra large size','Laminated glass with cut outs and inserts for point fixing','print_solar')
												.columns.large-6.medium-6
													+product('2','Glass-BULLETPROOF','Laminated glass with cut outs and inserts for point fixing','print')
												.columns.large-6.medium-6
													+product('3','Glass-COLOR','Laminated glass with cut outs and inserts for point fixin asd fdasf saas fasdfasdfas fsdfasdf sfdasf sadf sfsdfas fs ','paint')
												.columns.large-6.medium-6
													+product('4','Glass-CURVE','Laminated glass with cut outs and inserts for point fixing','monolithic')
												.columns.large-6.medium-6
													+product('5','Glass-DECOR','Laminated glass with cut outs and inserts for point fixing','met')
												.columns.large-6.medium-6
													+product('6','Glass-HEAT','Laminated glass with cut outs and inserts for point fixing','mesh')
												.columns.large-6.medium-6
													+product('1','Extra large size','Laminated glass with cut outs and inserts for point fixing','hurricane')
												.columns.large-6.medium-6
													+product('2','Glass-BULLETPROOF','Laminated glass with cut outs and inserts for point fixing','heat')
												.columns.large-6.medium-6
													+product('3','Glass-COLOR','Laminated glass with cut outs and inserts for point fixin asd fdasf saas fasdfasdfas fsdfasdf sfdasf sadf sfsdfas fs ','heat&sun')
												.columns.large-6.medium-6
													+product('4','Glass-CURVE','Laminated glass with cut outs and inserts for point fixing','fire')
												.columns.large-6.medium-6
													+product('5','Glass-DECOR','Laminated glass with cut outs and inserts for point fixing','fins')
												.columns.large-6.medium-6
													+product('6','Glass-HEAT','Laminated glass with cut outs and inserts for point fixing','decor')
												.columns.large-6.medium-6
													+product('1','Extra large size','Laminated glass with cut outs and inserts for point fixing','curve')
												.columns.large-6.medium-6
													+product('2','Glass-BULLETPROOF','Laminated glass with cut outs and inserts for point fixing','color')
												.columns.large-6.medium-6
													+product('3','Glass-COLOR','Laminated glass with cut outs and inserts for point fixin asd fdasf saas fasdfasdfas fsdfasdf sfdasf sadf sfsdfas fs ','bulletproof')
												.columns.large-6.medium-6
													+product('4','Glass-CURVE','Laminated glass with cut outs and inserts for point fixing','bonding')
												.columns.large-6.medium-6
													+product('5','Glass-DECOR','Laminated glass with cut outs and inserts for point fixing','blind')
												.columns.large-6.medium-6
													+product('6','Glass-HEAT','Laminated glass with cut outs and inserts for point fixing','monolithic')

						+nextl('services', 'l2','/services.html')

					include includes/_footer

					