extends _layout

block title
	title Production
	- var _name = "Production"
	- var currentPage = "Production"
block content
	.site__loader
	.root__wrapper
		.site__overlay
		.root__frame
			include includes/_header	
			#barba-wrapper
				.barba-container(data-namespace="Production")
					.wrapper-frame
						.block.page-head-block
							.row
								.columns
									.page-head
										.block-bg
											.block-bg-inner
												img.js-parallax(src="img/head/h1.jpg")
										.page-head-inner
											.page-head-gradient.js-parallax(data-speed="25")
											.page-head-content.js-parallax(data-direction="-1")
												.bread-cont
													a(href="/").bread-item Home
													a(href="#").bread-item Company
												.title.h2.white Production
						.block
							.row
								.columns
									.prod-elem(onclick='')
										.row
											.columns.large-6
												.col
													+content('GLASS CUTTING','3300 mm x 7200 mm 129,9" x 283,5"','Show more','/production-inner.html')
											.columns.large-6
												.col
													.prod-image-outer
														.carousel_layout-container
															.carousel_layout
																// если в слайдере есть видео -  убрать ссыоки со всех слайдов
																.carousel_layout-item.active
																	.carousel_layout-bg
																		.youtube-slide(data-embed='vU09wQerc54')
																			.play-button
																		//- img(src='img/production/p3.jpg', alt='').js-parallax
																		//- iframe(width='100%', height='100%', src='https://www.youtube.com/embed/vU09wQerc54', frameborder='0', allowfullscreen='')
																.carousel_layout-item
																	.carousel_layout-bg
																		img(src='img/production/p3.jpg', alt='').js-parallax
																.carousel_layout-item
																	.carousel_layout-bg
																		img(src='img/production/p2.jpg', alt='').js-parallax
																.carousel_layout-item
																	.carousel_layout-bg
																		img(src='img/production/p1.jpg', alt='').js-parallax
																.carousel_layout-item
																	.carousel_layout-bg
																		img(src='img/production/p5.jpg', alt='').js-parallax
															.carousel_navi
																.carousel_layout-next
																	.icon
																		+icon('circarr')
									.prod-elem(onclick='')
										.row
											.columns.large-6
												.col
													+content('EDGE TREATMENT: POLISHING','3300 mm x 7200 mm 129,9" x 283,5"','Show more','/production-inner.html')
											.columns.large-6
												.col
													//- .prod-image-outer
													//- 	.prod-image
													//- 		.prod-image-inner(style='background-color: url(img/production/p5.jpg)')
													//- 		.prod-image-inner.js-image.bg(data-src='img/production/p4.jpg')
													.prod-image-outer
														.carousel_layout-container
															.carousel_layout
																a(href="/production-inner.html").carousel_layout-item.active
																	.carousel_layout-bg
																		img(src='img/production/p4.jpg', alt='').js-parallax
																a(href="/production-inner.html").carousel_layout-item
																	.carousel_layout-bg
																		img(src='img/production/p4.jpg', alt='').js-parallax
																a(href="/production-inner.html").carousel_layout-item
																	.carousel_layout-bg
																		img(src='img/production/p4.jpg', alt='').js-parallax
																.carousel_layout-item
																	.carousel_layout-bg.js-parallax(data-speed='10', data-direction='1')
																		img(src='img/production/p4.jpg', alt='')
															.carousel_navi
																.carousel_layout-next
																	.icon
																		+icon('circarr')
									.prod-elem(onclick='')
										.row
											.columns.large-6
												.col
													+content('HEAT SOAK TEST','3300 mm x 7200 mm 129,9" x 283,5"','Show more','/production-inner.html')
											.columns.large-6
												.col
													.prod-image-outer
														a(href="/production-inner.html").prod-image
															//- .prod-image-inner(style='background-color: url(img/production/p5.jpg)')
															img.prod-image-inner.js-parallax(src='img/production/p5.jpg')
						+nextl('R&D', 'l2','/rd.html')
					include includes/_footer

					