extends _layout

block title
	title Projects
	- var _name = "Projects"
	- var currentPage = "Projects"
block content
	.site__loader
	.root__wrapper
		.site__overlay
		.root__frame
			include includes/_header	
			#barba-wrapper
				.barba-container(data-namespace="Projects")
					.wrapper-frame
						.block.page-head-block
							.row
								.columns
									// второй тип шапки, структура немного другая
									.page-head.page-head-gray
										.block-bg
										.page-head-inner
											.page-head-content.js-parallax(data-direction="-1")
												.bread-cont
													a(href="/").bread-item Home
												.row
													.columns
														.title.h2 Projects
													.columns
														.filter-wrapper
															//select component
															.filter-selects
																.sort_wrapper
																	.sort-select.js-select-item
																		.sort-select-title
																			.text.gray By type
																			.text.js-trgt-text All projects
																		.dropdown-target
																			.dropdown-inner
																				.dropdown-content
																					.sort-select-item.active
																						a(href="#",data-text="All projects")
																							span.text All projects
																					.sort-select-item
																						a(href="#",data-text="Commercial")
																							span.text Commercial
																					.sort-select-item
																						a(href="#",data-text="Culture and education")
																							span.text Culture and education 
																					.sort-select-item
																						a(href="#",data-text="Residental and hotels")
																							span.text Residental and hotels  
																					.sort-select-item
																						a(href="#",data-text="Sports facil ities")
																							span.text Sports facil ities
																					.sort-select-item
																						a(href="#",data-text="Transport and infrastructure")
																							span.text Transport and infrastructure
																.sort_wrapper
																	.sort-select.js-select-item
																		.sort-select-title
																			.text.gray By specification
																			.text.js-trgt-text All projects
																		.dropdown-target
																			.dropdown-inner
																				.dropdown-content
																					.sort-select-item.active
																						a(href="#",data-text="All projects")
																							span.text All projects
																					.sort-select-item
																						a(href="#",data-text="Commercial")
																							span.text Commercial
																					.sort-select-item
																						a(href="#",data-text="Culture and education")
																							span.text Culture and education 
																					.sort-select-item
																						a(href="#",data-text="Residental and hotels")
																							span.text Residental and hotels  
																					.sort-select-item
																						a(href="#",data-text="Sports facil ities")
																							span.text Sports facil ities
																					.sort-select-item
																						a(href="#",data-text="Transport and infrastructure")
																							span.text Transport and infrastructure
						.block
							.row
								.columns
									.projects
										.projects-inner
											.row.projects-row
												.columns.large-6
													+project('Dubai, UAE','Opera House',' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia similique quis possimus, porro expedita, illum, voluptatem cumque, ab blanditiis ut animi odit neque eligendi distinctio explicabo maiores molestiae accusamus sint!','1')
												.columns.large-6
													+project('Riga, Latvia','Z-Towers',' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia similique quis possimus, porro expedita, illum, voluptatem cumque, ab blanditiis ut animi odit neque eligendi distinctio explicabo maiores molestiae accusamus sint!','2')
												.columns.large-6
													+project('Minsk, Belarus','RRB Bank',' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia similique quis possimus, porro expedita, illum, voluptatem cumque, ab blanditiis ut animi odit neque eligendi distinctio explicabo maiores molestiae accusamus sint!','3')
												.columns.large-6
													+project('London, UK','Tate Moderns',' Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia similique quis !','4')
												.columns.large-6
													+project('Riyadh, Saudi Arabia','Skywalks',' Lorem ipsum dolor sit amet, ditiis ut animi odit neque eligendi distinctio explicabo maiores molestiae accusamus sint!','5')
												.columns.large-6
													+project('Helsinger, Denmark','Danish Maritime Museum','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminated inner pane.','6')
												hr.divider
												.columns.large-4
													+project('','Opera House, Dubai, UAE','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminated in we rwerew wer werwe werwereww eewew ewrwerewr ewrewner pane.','7')
												.columns.large-4
													+project('','Norman Foster Office, London, UK','Danish Maritime Museum features doublwe rwerew ewr e glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and lamiwe werewrwew werwerwnated inner pane.','8')
												.columns.large-4
													+project('','Skywalks, Riyadh, Saudi Arabia','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian w erewrewr werw rwand laminated inner pane.','9')
												.columns.large-4
													+project('','Tate Modern, London, UK','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and lamina wrewrew wer wrwer wted inner pane.','10')
												.columns.large-4
													+project('','RRB Bank, Minsk, Belarus','Danish Maritime Museum features double glazed insulateew rwerewr we werwed glass units with super neutral HSSN70/37 coating from Guardian and laminated inner pane.','11')
												.columns.large-4
													+project('','RRB Bank, Minsk, Belarus','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and lam werwr we rwerwinated inner pane.','12')
												.columns.large-4
													+project('','RRB Bank, Minsk, Belarus','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminat werwerweed inner pane.','13')
												.columns.large-4
													+project('','RRB Bank, Minsk, Belarus','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminated inner pane.','14')
												.columns.large-4
													+project('','RRB Bank, Minsk, Belarus','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminated inner pane.','15')
												.columns.large-4
													+project('','RRB Bank, Minsk, Belarus','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminated inner pane.','16')
												.columns.large-4
													+project('','RRB Bank, Minsk, Belarus','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminated inner pane.','17')
												.columns.large-4
													+project('','RRB Bank, Minsk, Belarus','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminated inner pane.','17')
												.columns.large-4
													+project('','Opera House, Dubai, UAE','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminated inner pane.','7')
												.columns.large-4
													+project('','Norman Foster Office, London, UK','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminated inner pane.','8')
												.columns.large-4
													+project('','Skywalks, Riyadh, Saudi Arabia','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminated inner pane.','9')
												.columns.large-4
													+project('','Tate Modern, London, UK','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminated inner pane.','10')
												.columns.large-4
													+project('','RRB Bank, Minsk, Belarus','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminated inner pane.','11')
												.columns.large-4
													+project('','RRB Bank, Minsk, Belarus','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminated inner pane.','12')
												.columns.large-4
													+project('','RRB Bank, Minsk, Belarus','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminated inner pane.','13')
												.columns.large-4
													+project('','RRB Bank, Minsk, Belarus','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminated inner pane.','14')
												.columns.large-4
													+project('','RRB Bank, Minsk, Belarus','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminated inner pane.','15')
												.columns.large-4
													+project('','RRB Bank, Minsk, Belarus','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminated inner pane.','16')
												.columns.large-4
													+project('','RRB Bank, Minsk, Belarus','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminated inner pane.','17')
												.columns.large-4
													+project('','RRB Bank, Minsk, Belarus','Danish Maritime Museum features double glazed insulated glass units with super neutral HSSN70/37 coating from Guardian and laminated inner pane.','17')

						+nextl('Products', 'l2','/products.html')

			include includes/_footer

					