extends _layout

block title
	title testimonials
	- var _name = "testimonials"
	- var currentPage = "testimonials"
block content
	.site__loader
	.root__wrapper
		.site__overlay
		.root__frame
			include includes/_header	
			#barba-wrapper
				.barba-container(data-namespace="Content")
					.wrapper-frame
						.block.page-head-block
							.row
								.columns
									.page-head
										.block-bg
											.block-bg-inner
												img.js-parallax(src="img/head/h9.jpg")
										.page-head-inner
											.page-head-gradient.js-parallax(data-speed="25")
											.page-head-content.js-parallax(data-direction="-1")
												.bread-cont
													a(href="/").bread-item Home
													a(href="company.html").bread-item Company 
												.title.h2.white testimonials
						.block.anim-cont
							.row
								.columns
									.review
										.row.align-stretch
											mixin review(img,title,text)
												.columns.large-4.medium-4
													.review-item
														.review-item-inner
															.review-item-img
																img.js-image(data-src="img/partners/"+img+".png", alt="")
															.review-item-content
																.text.primary #{title}
																.text.js-review-text #{text}
																	span.review-trigger
																		|  ... 
																		span read more

															.review-item-who
																.text Ronan Lucid
																.text.gray Contracts Manager at Alucraft Ltd.
											+review('с1','Hope you are keeping well','We finished the main works on Burlington and thank you for your assistance over the course of the project.')
											+review('с2','Great job!','They were very responsive to our needs in regards to changes on the fly during the installation process.  The glass was fabricated with great edgework and alignment, and it was packaged perfectly for us.  It was delivered right on dsf sdfasfas fdasfsdfas fasdfasl gnpokasngpojg nag dfasd fasdfas fsdfadsf safasdf asdfsd  ')
											+review('с3','Hope you are keeping well','We finished the main works on Burlington and thank you for your assistance over the course of the project.')
											+review('с1','Hope you are keeping wel 234 23423 4423423df ds fdsfs dfl','We finished the main works on Burlington and thank you for your assistance over the course of the project.')
											+review('с2','Great job!','They were very responsive to our needs in regards to changes on the fly during the installation process.  The glass was fabricated with great edgework and alignment, and it was packaged perfectly for us.  It was delivered right on dsf sdfasfas fdasfsdfas fasdfasl gnpokasngpojg nag dfasd fasdfas fsdfadsf safasdf asdfsd  ')
											+review('с3','Hope you are keeping well','We finished the main works on Burlington and thank you for your assistance over the course of the project.We finished the main works on Burlington and thank you for your assistance over the course of the project.We finished the main works on Burlington and thank you for your assistance over the course of the project.We finished the main works on Burlington and thank you for your assistance over the course of the project.We finished the main works on Burlington and thank you for your assistance over the course of the project.We finished the main works on Burlington and thank you for your assistance over the course of the project.We finished the main works on Burlington and thank you for your assistance over the course of the project.We finished the main works on Burlington and thank you for your assistance over the course of the project.We finished the main works on Burlington and thank you for your assistance over the course of the project.We finished the main works on Burlington and thank you for your assistance over the course of the project.We finished the main works on Burlington and thank you for your assistance over the course of the project.We finished the main works on Burlington and thank you for your assistance over the course of the project.')
						+nextl('R&D', 'l2','/rd.html')
					include includes/_footer

					