extends _layout

block title
	title testimonials
	- var _name = "testimonials"
	- var currentPage = "testimonials"
block content
	.site__loader
	.root__wrapper
		.site__overlay
		.root__frame
			include includes/_header	
			#barba-wrapper
				.barba-container(data-namespace="Content")
					.wrapper-frame
						.block.page-head-block
							.row
								.columns
									.page-head
										.block-bg
											.block-bg-inner
												img.js-parallax(src="img/head/h9.jpg")
										.page-head-inner
											.page-head-gradient.js-parallax(data-speed="25")
											.page-head-content.js-parallax(data-direction="-1")
												.bread-cont
													a(href="/").bread-item Home
													a(href="company.html").bread-item Company 
												.title.h2.white testimonials
						.block.anim-cont
							.row
								.columns
									.review
										.row
											.columns.large-4.medium-4
												.review-item
													
						+nextl('R&D', 'l2','/rd.html')
			include includes/_footer

					